<!-- homepage specific template -->
{{ partial "header.html" . }}

<div class="showcase-wrapper sticky">
    {{ with .Site.Params.showcase }}
    <div class="showcase-text">{{.}}</div>
    {{ end }}
</div>

<div class="container">
    {{ range .Site.Pages }} {{ if eq .Section "post" }}
    <a class="article-summary" href="{{ .Permalink }}">
        <div>
            <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            <div class="article-summary-title">{{ .Title }}</div>
        </div>
        <p>{{ .Summary }}</p>
    </a>
    {{ end }} {{ end }}
</div>

{{ partial "footer.html" . }}
