<!-- homepage specific template -->
{{ partial "header.html" . }}

<div class="showcase-wrapper sticky">
	<div class="showcase">
    {{ with .Site.Params.showcase }}
    <div class="showcase-text">{{.}}</div>
    {{ end }}
    <div class="showcase-more">Wij zijn een studentenorganisatie die zich focust op <b>ervaring en kennis</b>. Wij doen dit met de organisatie van talks, studentenjobs en internationale workshops of stages.<br/>
    <a href="/about"><button type="button" class="btn btn-default showcase-button">Meer weten</button></a>
    <a href="{{ .Site.Params.Registerlink }}" target="_blank"><button type="button" class="btn btn-default showcase-button">Word lid</button></a></div>
    </div>
</div>

<div class="container">
    {{ range .Data.Pages }} {{ if eq .Section "post" }}
    <a class="article-summary" href="{{ .Permalink }}">
        <div>
            <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            <div class="article-summary-title">{{ .Title }}</div>
        </div>
        <p>{{ .Summary }}</p>
    </a>
    {{ end }} {{ end }}
</div>

{{ partial "footer.html" . }}
