{{ with .Site.Params.twitter }}
<li> <a href="https://twitter.com/{{ . }}"><i class="fa fa-twitter-square"></i> twitter</a>
</li>
{{end}} {{ with .Site.Params.linkedin }}
<li> <a href="{{ . }}"><i class="fa fa-linkedin-square"></i> linkedin</a>
</li>
{{end}} {{ with .Site.Params.facebook }}
<li> <a href="{{ . }}"><i class="fa fa-facebook-square"></i> facebook</a>
</li>
{{end}} {{ with .Site.Params.github }}
<li> <a href="{{ . }}"><i class="fa fa-github-square"></i> github</a>
</li>
{{end}} {{ with .Site.Params.rss }}
<li> <a href="{{ . }}"><i class="fa fa-rss-square"></i> rss</a>
</li>
{{end}} {{ with .Site.Params.contact }}
<li> <a href="{{ . }}"><i class="fa fa-envelope-square"></i> contact</a>
</li>
{{end}}
